<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Nasabah Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/nasabah">Nasabah Page</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/login">Logout</a>
					</li>
			</div>
		</div>
	</nav>
	<div class="col-md-6 offset-md-3 mt-5 pt-5">Tambah Rekening</div>
	<div id="data-collection"
		class="col-md-4 offset-md-3 mt-4 border rounded">
		<div id="add-nasabah" class="mx-5 my-5">
			<form method="post" th:action="@{/nasabah/tambah}">
				<div class="mb-3 row">
					<label class="col-sm-3 col-form-label">Nama Lengkap</label>
					<div class="col">
						<input type="text" th:field="${nasabahForm.namaLengkap}"
							class="form-control border border-dark"
							placeholder="masukkan nama lengkap" />
					</div>
					<div th:if="${#fields.hasErrors('nasabahForm.namaLengkap')}"
						class="error col-md-6 offset-md-2 text-danger"
						th:errors="*{nasabahForm.namaLengkap}"></div>
				</div>
				<div class="mb-3 row">
					<label class="col-sm-3 col-form-label">Tanggal Lahir</label>
					<div class="col">
						<input type="date" th:field="${nasabahForm.tanggalLahir}"
							class="form-control border border-dark"
							placeholder="masukkan no identitas" />
					</div>
					<div th:if="${#fields.hasErrors('nasabahForm.tanggalLahir')}"
						class="error col-md-6 offset-md-2 text-danger"
						th:errors="*{nasabahForm.tanggalLahir}"></div>
				</div>
				<div class="mb-3 row">
					<label class="col-sm-3 col-form-label">No Identitas</label>
					<div class="col">
						<input maxlength="16" type="text"
							th:field="${nasabahForm.noIdentitas}"
							class="form-control border border-dark"
							placeholder="masukkan no identitas" />
					</div>
					<div th:if="${#fields.hasErrors('nasabahForm.noIdentitas')}"
						class="error col-md-6 offset-md-2 text-danger"
						th:errors="*{nasabahForm.noIdentitas}"></div>
				</div>
				<div class="mb-3 row">
					<label class="col-sm-3 col-form-label">Tipe Identitas</label>
					<div class="col">
						<input type="text" th:field="${nasabahForm.tipeIdentitas}"
							class="form-control border border-dark"
							placeholder="masukkan tipe identitas" />
					</div>
					<br />
				</div>
				<div class="mb-3 row">
					<label class="col-sm-3 col-form-label">Email</label>
					<div class="col">
						<input type="text" th:field="${nasabahForm.email}"
							class="form-control border border-dark"
							placeholder="masukkan email" />
					</div>
					<br />
				</div>
				<div class="mb-3 row">
					<label class="col-sm-3 col-form-label">No Contact</label>
					<div class="col">
						<input maxlength="12" type="text"
							th:field="${nasabahForm.noContact}"
							class="form-control border border-dark"
							placeholder="masukkan contact" />
					</div>
					<br />
				</div>
				<div class="mb-3 row">
					<label class="col-sm-3 col-form-label">No Rekening</label>
					<div class="col">
						<input maxlength="16" type="text" th:field="${rek.noRekening}"
							class="form-control border border-dark"
							placeholder="masukkan no rekening" />
					</div>
					<div th:if="${#fields.hasErrors('rek.noRekening')}"
						class="error col-md-6 offset-md-2 text-danger"
						th:errors="*{rek.noRekening}"></div>
					<br />
				</div>
				<div class="mb-3 row">
					<label class="col-sm-3 col-form-label">Bank Provider</label>
					<div class="col">
						<select name="provider" class="form-select border border-dark">
							<option th:each="BankProvider : ${provider}"
								th:value="${BankProvider.id}" th:text="${BankProvider.name}">
							</option>
						</select>
					</div>
					<br />
				</div>
				<br />
				<div class="col-md-2 offset-md-6">
					<input type="submit" value="Tambah Rekening" />
				</div>
			</form>
			<span th:if="${success}" th:text="${success}"></span>
		</div>
	</div>
	<div class="col-md-10 offset-md-1 my-2">
		<div class="table-responsive">
			<table
				class="table table-light table-hover table-striped border border-dark caption-top">
				<caption>Nasabah</caption>
				<thead class="table-dark">
					<tr>
						<td>Nama</td>
						<td>No Identitas</td>
						<td>Tipe Identitas</td>
						<td>Email</td>
						<td>Contact</td>
						<td>No Rekening</td>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					<tr th:each="nas: ${nasabahs}">
						<td th:text="${nas.namaLengkap}"></td>
						<td th:text="${nas.noIdentitas}"></td>
						<td th:text="${nas.tipeIdentitas}"></td>
						<td th:text="${nas.email}"></td>
						<td th:text="${nas.noContact}"></td>
						<td th:each="nas2: ${nas.rekenings}" th:text="${nas2.noRekening}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>