<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Provider Page</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Bank Provider Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Logout</a>
        </li>        
    </div>
  </div>
</nav>
	<div id="data-collection" class="row col-md-5 offset-md-3 mt-5 border rounded">
		<div class="mx-3 my-3 col-sm-3">
			Bank Provider
		</div><br/>
		<div id="add-provider" class="ms-3 mb-3">
    		<form method="post" th:action="@{/provider/save}">
    			<div class="mb-3 row">
    				<div class="col-sm-2">
	    				<label class="col-form-label">Nama</label>
    				</div>
    				<div class="col-sm-9">
    					<input type="text" th:field="${provider.name}" class="form-control border border-dark" placeholder="enter bank provider"/>
   					</div>
   					<span th:if="${#fields.hasErrors('provider.name')}" class="error text-danger" th:errors="${provider.name}"></span>
   					<br/>
    			</div><br/>
    			<div class="col-sm-1 offset-sm-10">
    				<input type="submit" value="Saven"/>
   				</div>
    		</form>
    		<span th:if="${success}" th:text="${success}"></span>
    	</div>
    	<div class="col-md-10 mx-2 my-2 table-responsive">
	    	<table class="table table-light table-hover table-striped border border-dark caption-top">
	    		<caption>Bank Provider</caption>
	    		<thead class="table-dark">
	    			<tr>
	    				<td>Nama Bank Provider</td>
	    			</tr>
	    		</thead>
	    		<tbody class="table-group-divider">
	    			<tr th:each="providers: ${providers}">
	    				<td th:text="${providers.name}"></td>
	    			</tr>
	    		</tbody>
	    	</table>
    	</div>
	</div>

</body>
</html>