<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Transfer Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Transfer Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Logout</a>
        </li>        
    </div>
  </div>
</nav>
	<div id="data-collection"
		class="row col-md-5 offset-md-3 mt-5 border rounded">
		<div class="mx-3 my-3 col-sm-4">Transaksi Pengiriman Dana</div>
		<br /> <br /> <br /> <br />
		<div id="add-transaksi" class="ms-3 mb-3">
			<form method="post" th:action="@{/transfer/kirim}">
				<div class="mb-3 row">
					<div class="col-sm-3">
						<label class="col-form-label">No Rekening Pengirim</label>
					</div>
					<div class="col-sm-6">
						<input id="pengirim" maxlength="16" type="text" th:field="${tf.pengirim.noRekening}"
							class="form-control border border-dark"
							placeholder="Masukkan No Rekening Pengirim" />
						<span th:if="${#fields.hasErrors('tf.pengirim.noRekening')}" class="error text-danger" th:errors="${tf.pengirim.noRekening}"></span>
					</div>
					<div class="col-sm-3">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary"
							data-bs-toggle="modal" data-bs-target="#exampleModal+${tf.pengirim.noRekening}">
							Cek Pengirim</button>

						<!-- Modal -->
						<div class="modal fade" id="exampleModal+${tf.pengirim.noRekening}" tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<!-- <div class="modal-header">
										<h1 class="modal-title fs-5" id="exampleModalLabel">Modal
											title</h1>
										<button type="button" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div> -->
									<div class="modal-body">
										<h1 class="text-center">Atas Nama Pengirim</h1><br/><br/>
										<label>No Rekening</label>
										<div id="pengirimNoRek"></div>
										<label>Atas Nama</label>
										<div id="pengirimNama"></div>
										<label>No Identitas</label>
										<div id="pengirimNoId"></div>
										<label>Email</label>
										<div id="pengirimEmail"></div>
										<label>Contact</label>
										<div id="pengirimContact"></div>
									</div>
									<!-- <div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary">Save
											changes</button>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<br />
				</div>
				<div class="mb-3 row">
					<div class="col-sm-3">
						<label class="col-form-label">No Rekening Penerima</label>
					</div>
					<div class="col-sm-6">
						<input id="#penerima" maxlength="16" type="text" th:field="${tf.penerima.noRekening}"
							class="form-control border border-dark"
							placeholder="Masukkan No Rekening Penerima" />
						<span th:if="${#fields.hasErrors('tf.penerima.noRekening')}" class="error text-danger" th:errors="${tf.penerima.noRekening}"></span>
					</div>
					<div class="col-sm-3">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary"
							data-bs-toggle="modal" data-bs-target="#exampleModal+2">
							Cek Penerima</button>

						<!-- Modal -->
						<div class="modal fade" id="exampleModal+2" tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-body">
										<h1 class="text-center">Atas Nama Penerima</h1><br/><br/>
										<label>No Rekening</label>
										<div th:text="${tf.pengirim.noRekening}"></div>
										<label>Atas Nama</label>
										<div th:text="${tf.pengirim.noRekening}"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br />
				</div>
				<div class="mb-3 row">
					<div class="col-sm-3">
						<label class="col-form-label">Jumlah Amount</label>
					</div>
					<div class="col-sm-6">
						<input type="text" th:field="${tf.jumlahAmount}"
							class="form-control border border-dark"
							placeholder="Masukkan Jumlah Amount" />
					</div>
					<br />
				</div>
				<br />
				<div class="col-sm-1 offset-sm-8">
					<input type="submit" value="Kirim" />
				</div>
				<span th:if="${gagal}" th:text="${gagal}"></span>
			</form>
			<span th:if="${success}" th:text="${success}"></span>
		</div>
		<div class="col-md-10 ms-4 my-4 table-responsive">
			<table
				class="table table-light table-hover table-striped border border-dark">
				<thead class="table-dark">
					<tr>
						<td>Rekening Pengirim</td>
						<td>Rekening Penerima</td>
						<td>Amount</td>
						<td>Bank Asal</td>
						<td>Bank Tujuan</td>
						<td>Fee</td>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					<tr th:each="lists: ${list}">
						<td th:text="${lists.pengirim.noRekening}"></td>
						<td th:text="${lists.penerima.noRekening}"></td>
						<td th:text="${lists.jumlahAmount}"></td>
						<td th:text="${lists.pengirim.provider.name}"></td>
						<td th:text="${lists.penerima.provider.name}"></td><td th:text="${lists.fee}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
<script>
const myModal = document.querySelector('#exampleModal+${tf.pengirim.noRekening}')
const noRekening = document.getElementById('pengirim').value;

myModal.addEventListener('show.bs.modal', event => {
	console.log(noRekening);
  if (noRekening == null) {
    $('#pengirimNoRek').empty();
    $('#pengirimNama').empty();
    $('#pengirimNoId').empty();
    $('#pengirimEmail').empty();
    $('#pengirimContact').empty();
  }else{
  	var url='/transfer/cek/'+noRekening;
  	document.getElementById("pengirimanNoRek").innerHTML = noRekening;
  }
});

</script>
</html>